@import "variables";

.font-weight-thin {
  font-weight: $thin !important;
}

.font-weight-light {
  font-weight: $light !important;
}

.font-weight-regular {
  font-weight: $regular !important;
}

.font-weight-medium {
  font-weight: $medium !important;
}

.font-weight-bold {
  font-weight: $bold !important;
}

.font-weight-black {
  font-weight: $black !important;
}
