.root {
  position: relative;

  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;

  width: 100%;
  height: 150px;

  justify-content: center;
}

.section {
  display: flex;
  flex-wrap: wrap;

  max-width: 50%;
  padding: 20px;

  align-items: center;
}

.image {
  padding-right: 8px;

  img {
    width: 80px;
    height: 80px;

    object-fit: cover;
  }
}

.round {
  border-radius: 100%;
}

.content {
  max-width: 245px;
}

.text {
  margin: 0;
}
