@import "../../assets/colors/index";

.header {
  color: $white-color;
  background-color: $primary-color;

  position: static;
  transform: translateZ(0);

  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.toolbar {
  min-height: 56px;

  padding: 4px 16px;

  display: flex;
  position: relative;
  align-items: center;
}

@media (min-width: 0px) and (orientation: landscape) {
  .toolbar {
    min-height: 48px;
  }
}

@media (min-width: 600px) {
  .toolbar {
    min-height: 64px;
  }
}

.title {
  margin: 0;
  cursor: pointer;
}
